<% provide(:title, "Dashboard") %>
<div class="content">
  <p id="notice"><%= notice %></p>

  <h1>In Tyler We Trust</h1>

  <p>
    Current balance:
    $<%= number_with_precision(Exchange.current_balance, precision: 2) %>
  </p>

  <p>
    Amount spent this month:
    $<%= number_with_precision(Exchange.current_month_expenditures, precision: 2) %>
  </p>

  <p>
    Amount spent last month:
    $<%= number_with_precision(Exchange.last_month_expenditures, precision: 2) %>
  </p>

  <p>
    Biggest single expense:
    $<%= number_with_precision(Exchange.biggest_expense, precision: 2) %>
  </p>

  <p>
    Create a new exchange:
    <%= link_to 'New Exchange', new_exchange_path %>
  </p>

  <p>
    View all exchanges:
    <%= link_to 'All Exchanges', exchanges_path %>
  </p>



  <span id="overdraft">
    <%= Exchange.chastise_overdrafts %>
  </span>

  <p class="bottom"></p>
</div>
