<% provide(:title, "Show") %>

<div class="content">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Recipient:</strong>
    <%= @exchange.recipient %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= @exchange.credit %>
  </p>

  <p>
    <strong>Debit:</strong>
    <%= @exchange.debit %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= @exchange.balance %>
  </p>

  <%= link_to 'Edit', edit_exchange_path(@exchange) %> |
  <%= link_to 'Back', exchanges_path %>
  <p class="bottom"></p>

</div>
